.homepage {
  /* padding: 20px; */
  background-color: #f8f9fa;
  width: 100%;
}

.main-content {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.left-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.middle-column {
  display: flex;
  flex-direction: column;
  flex: 2;
  gap: 20px;
}
.middle-up{
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 15px 10px;
}
.middle-down{
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 15px 10px;
}

/* HomePage 에서 SearchPlayer 로 옮겼음.
.middle-column > .search-text {
  margin: 0;
  font-size: 22px;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
*/

.right-column {
  flex: 1;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  min-height: 300px;
}
