.playerInfo {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 140px;
  height: 200px;
  border: 1px solid rgb(205, 205, 205);
  border-radius: 15px;
  
}
.playerInfo:hover{
  cursor:pointer;
  background-color: rgb(205, 202, 202);
}

.playerInfo > .playerInfo-img {
  margin: 15px 0 10px 0;
  width: 80px;
  height: 80px;
  border-radius: 50%; /* 원 모양 */
  overflow: hidden; /* 원 밖의 이미지 자르기 */
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  width: 100%;
  filter: brightness(0.9);
}

.playerInfo > .p-name {
  font-weight: 650;
  font-size: 15px;
  margin: 0;
}

.follow-box {
  margin-top: 10px;
  background-color: #3d85c6;
  width: 120px;
  height: 35px;
  display: flex;
  justify-content: center; /* 가로 중앙 */
  align-items: center; /* 세로 중앙 */
  border-radius: 20px;
}

.follow-box:hover {
  background-color: #2f6a9d;
  cursor: pointer;
}

.follow-text {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  color: white;
  margin: 0;
}

.following-box{
  margin-top: 10px;
  background-color: #ffffff;
  border: 1px solid #3d85c6;
  width: 120px;
  height: 35px;
  display: flex;
  justify-content: center; /* 가로 중앙 */
  align-items: center; /* 세로 중앙 */
  border-radius: 20px;
}

.following-text {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  color: #3d85c6;
  margin: 0;
}